<header>
    <h1><a href="/">Makaroniarze</a></h1>
    <nav>
        <ul>
            <li><a href="#home">Strona główna</a></li>
            <li><a href="#featuredPastas">Polecane</a></li>
            <li><a href="/">Ipsum</a></li>
        </ul>
    </nav>
</header>