<div class="centerContainer">
    <h1>
        4
        <img src="/assets/spaghetti.png" alt="0">
        4
    </h1>
    <h3>Niestety nie mamy takiej strony :(</h3>
    <a href="/"><button>Strona Główna</button></a>
</div>