<div class="hero">
    <div class="heroLeft">
        <h1>Witaj Makaroniarzu</h1>
        <p>Tutaj znajdziesz wiele informacji na temat różnych rodzajów makaronów.</p>
        <a href="#featuredPastas"><Button>Czytaj dalej</Button></a>
    </div>
    <div class="heroRight">
        <img src="/assets/spaghetti.png" alt="Spaghetti Plate">
    </div>
</div>
<div class="sectionContainer" id="featuredPastas">
    <h1>Polecane</h1>

    <div class="scrollableRow">
        <div class="featured">
            <img src="/assets/spaghetti.png" alt="Spaghetti Plate">
            <p>Spaghetti</p>
            <span>Spaghetti to włoski makaron podawany z różnymi sosami.</span>
            <span class="bg"></span>
        </div>

        <div class="featured">
            <img src="/assets/fusilli.png" alt="Fusilli Plate">
            <p>Fusilli</p>
            <span>Kręcone makarony, które łapią wspaniale sosy i dodatki.</span>
            <span class="bg"></span>
        </div>

        <div class="featured">
            <img src="/assets/ravioli.png" alt="Spaghetti Plate">
            <p>Ravioli</p>
            <span>Duże, nadziewane pierogi makaronowe, często podawane z sosem masłowo-szpinakowym.</span>
            <span class="bg"></span>
        </div>
    </div>
</div>