@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Italiana&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #e5e5e7;
    --secondary-background-color: #dfd8d8;
    --font-color: #030000;
    --secondary-font-color: #fff;
    --accent-color: #d21724;
    --secondary-accent-color: #ffe5c2;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

button {
    all: unset;
    background: var(--accent-color);
    color: var(--secondary-font-color);
    padding: 15px 20px;
    border-radius: 10px;
    transition: .3s;
}

button:hover {
    opacity: .7;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    background: var(--background-color);
    background: linear-gradient(153deg, var(--background-color) 50%, var(--secondary-background-color) 100%);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: var(--background-color);
    z-index: 2;
    transition: .3s;
}

header.scrolled {
    box-shadow: 0px 0px 10px -3px var(--font-color);
}


header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding: 0 10px;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
    width: 75%;
    margin-bottom: 20vh;
}

.hero .heroLeft,
.hero .heroRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.heroLeft {
    align-items: flex-start !important;
    width: 45% !important;
}

.heroLeft h1 {
    font-size: 65px;
    margin: 0;
}

.heroLeft p {
    width: 75%;
}

.heroRight img {
    width: 100%;
    transition: .3s;
}

.heroRight img:hover {
    rotate: -5deg;
}

.sectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

.sectionContainer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sectionContainer h1 img {
    position: absolute;
    bottom: -15px;
    width: 50px;
}


.scrollableRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 150px;
}

.featured {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

    width: 20%;
    padding: 45px 20px;
    z-index: 1;
}

.featured:not(:last-child) {
    margin-right: 50px;
}

.featured .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 70%;
    width: 100%;
    background: rgb(196, 194, 196);
    background: linear-gradient(153deg, rgba(196, 194, 196, 1) 10%, rgba(241, 239, 240, 1) 100%);
    box-shadow: 0px 0px 35px -5px var(--font-color);
    border-radius: 30px 20px;
}

.featured img {
    width: 100%;
    backdrop-filter: 0px 0px 55px -5px var(--font-color);
}

.featured p {
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
    text-transform: capitalize;
}


.pasta {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
    width: 85%;
    margin-bottom: 20vh;
}

.pasta .pastaLeft,
.pasta .pastaRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.pastaRight {
    align-items: flex-start !important;
    padding: 0 0 20vh 5vh;
}

.pastaRight h1 {

    font-size: 85px;
    margin: 10px 0;
    text-transform: capitalize;
}

.pastaRight p {
    width: 75%;
}

.pastaLeft img {
    width: 100%;
    transition: .3s;
}

.pastaLeft img:hover {
    rotate: -5deg;
}

.pastaDesc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.easy {
    color: #53a653;
}

.medium {
    color: #ff9900;
}

.difficult {
    color: #d21724;
}

.pastaInfo {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    margin-top: 20px;
}

.pastaInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.pastaInfoContainer span:first-child {
    font-size: 25px;
    font-weight: bold;
}

.pastaInfoContainer:not(:last-child) {
    margin-right: 20px;
    border-right: 1px solid rgb(3, 0, 0, .3);
    padding: 0 25px;
}

.pastaDesc a {
    margin-top: 10px;
    padding: 20px 0;
    font-size: 18px;
}

.recepieStep {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;

    width: 30%;
    counter-increment: step;
}

.recepieStep::before {
    content: counter(step);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    font-weight: bold;
    opacity: .6;
    background: var(--secondary-accent-color);
}

.sectionRowContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.upperCase {
    text-transform: capitalize;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.centerContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 350px;
    margin: 0;
}

.centerContainer img {
    height: 320px;
    width: 320px;
}

::-webkit-scrollbar {
    display: none;
}